Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Login
Flask-Bcrypt
python-dotenv
google-genai
unicorn
Flask
Flask-Cors
google-auth
google-genai
python-dotenv
requests
gunicorn
websockets
Werkzeug